@import 'src/styles/color';
@import 'src/styles/spacing';

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  border: 0.5rem solid $primary;
  padding: $md-padding;
  border-radius: 1rem;
}
