<mat-sidenav-container hasBackdrop="true"
                       class="h100">
  <mat-sidenav #snav
               mode="over"
               fixedTopGap="56">
    <mat-nav-list (click)="close()">
      <a mat-list-item routerLinkActive="active-link" routerLink="/draw">{{'home' |translate}}</a>
      <a *ngIf="!isLogged" mat-list-item routerLinkActive="active-link"
         routerLink="/login">{{'login.signInSection' | translate}}</a>
      <a *ngIf="!isLogged" mat-list-item routerLinkActive="active-link"
         routerLink="/register">{{'login.signUpSection' |translate}}</a>
      <a *ngIf="isLogged" mat-list-item routerLinkActive="active-link"
         routerLink="/logout">{{'login.signOutSubmit' |translate}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
