@import 'src/styles/variables/spacing';
@import 'src/styles/variables/typography';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $xl-margin;
  @media (min-width: $breakpoints-desktop) {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .welcome {
    margin-bottom: 0;
  }

  .description {
    text-align: center;
  }

  .gift-img {
    height: 50vh;
  }
}
