$font-size-root-px-unitless: 10; // 10px
$font-size-root: $font-size-root-px-unitless / 16 * 100%;

:root {
  font-size: $font-size-root;
}

$breakpoints-phone: 64rem;
$breakpoints-tablet: 76.8rem;
$breakpoints-desktop: 102.4rem;
