<div class="container">
  <section class="section-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{'login.signIn' | translate}}</h1>

    <div>
      <gd-input [control]="form.controls.login"
                [placeholder]="'login.login' | translate"></gd-input>
      <gd-password [control]="form.controls.password"
                   [placeholder]="'login.password' | translate"
                   (keydown.enter)="submitData()"></gd-password>
      <mat-checkbox [formControl]="form.controls.autoLogIn"
                    [color]="'primary'">
        {{'login.autoLogIn' | translate}}
      </mat-checkbox>

      <button mat-raised-button
              class="d-block ml-auto"
              type="submit"
              color="accent"
              [disabled]="form.invalid"
              (click)="submitData()">
        {{'login.submit' | translate}}
      </button>
    </div>
  </section>
</div>
